{% extends 'blog/layout.html' %}


{% block maincontentblog %}
  {% for bloglist in BlogListDic %}
    {% comment %} <div class="card col-4 gx-4" style="width: 18rem;">

      <img src="{{bloglist.BlogPic.url}}" class="card-imgs-top" alt="عکس بلاگ"> {% endcomment %}
      
      <div class="card-body"> 
        <h5 class="card-title">
            {{ bloglist.BlogName }}
        </h5>
        {% comment %} <p class="card-text">{{ bloglist.BlogDescription }}</p> {% endcomment %}
        
        <a href="/blog/blogdetails/{{ bloglist.id }}" class="btn btn-primary">بیشتر</a>
      </div>
    </div>
  {% endfor %}
{% endblock  %}